.leftTop::after {
    content:"";
    position: absolute;
    left: 0px;
    top: 0px;
    height: 20px;
    width: 20px;
    background-color: red;
    border: 1px solid rgba(44, 43, 43, 0.8);
    transform: skew(-40deg);
}